
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden; 
}

.app-background {
  background-image: url('/images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
  max-height: 90vh; 
  overflow: hidden;
  width: 100%;
  max-width: 600px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  width: 100%;
  max-width: 400px;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  max-width: 400px;
}

button:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
}

.recipe-container {
  background-color: rgba(255, 255, 255, 0.9); 
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  overflow-y: auto; 
  max-height: 70vh; 
  font-size: 18px; 
}

.recipe-content {
  margin-top: 10px;
}

.recipe-container h2 {
  font-weight: bold;
}

.recipe-container p {
  line-height: 1.6;
}
